################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/EmailDemoApp/bin
/EmailDemoApp/obj
/src/bin
/src/obj
/src/.vs
/nuget.ps1
/EmailDemoApp/appsettings.Development.json
