################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0
/obj
/EmailDemoApp/bin/Debug/net6.0
/EmailDemoApp/obj
/EmailDemoApp/appsettings.Development.json
/src/bin/Debug/net6.0
/src/obj
/src/.vs/Microsoft.Graph.API.Client
